@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&display=swap');

/*@font-face {
  font-family: "Bitter";
  src: local("Bitter"),
    url(../fonts/Bitter-VariableFont_wght.ttf),
    url(../fonts/Bitter-Italic-VariableFont_wght.ttf);
}

@font-face {
  font-family: "DM Mono";
  src: local("DM Mono"),
    url(../fonts/PTMono-Regular.ttf);
}*/
:root {
  --main-bg-color: #1f2029;
  --main-bg-color-transparent: rgb(34, 35, 46, 0);
  --main-bar-bg-color: rgba(255,255,255,0.07);
  --main-center-width: 900px;
  --main-color-accent-1: #7476ff;
  --main-color-accent-2: #5ab389;
  --main-color-accent-3: #68315a;
  --todo-active-background: #0c0c13;
}

html {
  font-size: 17px;
}
body {
	/*pointer-events: none;*/
	/*cursor: none;*/
  color: #ddd;
	background: var(--main-bg-color);
	margin: 0;
  font-family: "Bitter";
}

* {
  box-sizing: border-box;
}

.main-container {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	height: 100%;
}
.main-heading {
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 4rem;
  text-align: center;
  font-size: 2rem;
  position: relative;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.9);
  letter-spacing: 1px;
  word-spacing: 4px;
  white-space: nowrap;
  transition: padding 0.3s ease-in;
  text-shadow: 0 2px 4px rgba(0,0,0,0.25);
}
.main-container.density-md .main-heading {
	padding-top: 2rem;
}
.main-container.density-sm .main-heading {
	/* display: none; */
	overflow-y: hidden;
	line-height: 0;
}
.main-heading > * {
  margin: 0;
  min-width: 0;
  text-overflow: ellipsis;
  overflow-x: hidden;
}
.main-heading.no-title,
.main-container.density-sm .main-heading {
  padding-top: 1rem;
  padding-bottom: 0;
}
.top-container {
  position: relative;
  border-bottom: 1px solid rgba(255,255,255,0.09);
}
#top-background-image {
  background: url(/img/giphy-skyline-05.gif);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  opacity: 0.5;
  box-shadow: inset 0 0 50px rgba(0,0,0,0.3);
}
.main {
  padding: 1.5rem 0 0 1.5rem;
  padding: 1.5rem 0 0 0;
  padding: 0;
  flex: 1;
  flex-shrink: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  /* background: rgba(255,255,255,0.13); */
  /*overflow-y: auto;*/
}
input, textarea {
  color: #ddd;
  font-size: inherit;
}
.entry-container {
  padding: 1.5rem;
  padding-bottom: 1.5rem;
  padding-top: 1rem;
  /* padding-top: 4rem; */
  /* background: #2b2b2b; */
  /* background: var(--main-bar-bg-color); */
  transition: all 0.3s ease-out;
}
.entry-container.commands-display .entry-input {
  font-family: "DM Mono";
  /* font-size: 0.95rem; */
}
.hide .entry-container {
  overflow: hidden;
  height: 0;
  padding: 0;
  opacity: 0;
}
.entry-container-inner {
  display: flex;
}
.entry-form {
  position: relative;
  /*margin-bottom: 0.8rem;*/
  z-index: 15;
  align-self: baseline;
  margin: 0 auto;
  width: 230px;
  transition: 0.1s width ease-in;
  /* left: 1.5rem; */
  /* display: flex; */
}
.entry-form.active, .entry-form:focus-within {
  /* width: calc(100% - 1.5rem); */
  /* width: calc(100% - 3rem); */
  width: 100%;
}
.entry-form:before {
  content: "$";
  font-family: "DM Mono";
  font-weight: bold;
  color: #777;
  color: rgba(255,255,255,0.35);
  top: 0.75em;
  /*transform: translateY(-50%);*/
  left: 0.9rem;
  display: none;
  position: absolute;
  z-index: 0;
}
.entry-form-icon-main {
  position: absolute;
  left: 0.7rem;
  top: 0.63rem;
  color: rgb(255 255 255 / 50%);
  color: rgb(132 185 221);
  display: none;
}
/* .entry-form.active:before, .entry-form:focus-within:before {
  display: block;
} */
.entry-form.active .entry-form-icon-main, .entry-form:focus-within .entry-form-icon-main {
  display: block;
}
.entry-form:after {
  content: "/";
  /*font-family: "DM Mono";*/
  font-weight: 700;
  font-size: 0.8rem;
  color: #888;
  color: rgba(255,255,255,0.4);
  right: 1.1rem;
  position: absolute;
  top: 0.85em;
  padding: 0.12rem 0.5rem;
  background: rgba(255,255,255,0.15);
  border-radius: 5px;
  border: 1px solid rgba(255,255,255,0.25);
  transition: opacity 0.9s;
  opacity: 1;
  user-select: none;
  pointer-events: none;
  /* display: none; */
}
.entry-form.active:after, .entry-form:focus-within:after {
  transition: none;
  /*display: none;*/
  opacity: 0;
}
.entry-input {
  width: 230px;
  width: 100%;
  padding: 0.6rem 1rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  outline: none;
  caret-color: transparent;
  /* background: #4a4a4a; */
  /* background: rgba(255,255,255,0.14); */
  background: rgba(100,100,100,0.7);
  border: 1px solid rgb(109, 109, 109);
  background: rgba(20,20,20,0.45);
  border: 1px solid transparent;
  z-index: 5;
  color: #fff;
  transition: 0.1s width ease-in, 0.1s padding ease-in, 0.1s border-radius ease-in, 0.
  12s color ease-in;
  resize: none;
  /* height: 2.4rem; */
  font-family: inherit;
  line-height: 1.5;
  resize: none;
  /* box-shadow: 0 2px 7px rgba(0,0,0,0.2); */
}
.entry-input::placeholder {
  color: rgba(255, 255, 255, 0.582);
  font-style: italic;
}
.entry-input:not(:focus) {
  cursor: pointer;
}
.entry-input.active, .entry-input:focus {
	border-radius: 8px;
  padding-left: 2.15rem;
  /* box-shadow: 0 2px 7px rgba(0,0,0,0.4); */
  box-shadow: 0 2px 15px rgba(0,0,0,0.7);
  /* background: rgb(120 45 102 / 90%); */
  /* border: 1px solid rgb(150 58 128); */
  
  /* Purple */
  background: rgb(111 69 101 / 80%);
  border: 1px solid rgb(127 74 113);

  /* Blue */
  background: rgb(66 114 137 / 85%);
  border: 1px solid rgb(92 128 161);

  z-index: 10;
  /*background: #161616;*/
  caret-color: initial;
}
.entry-input.flash-once {
	animation: flashTwice 0.2s 1;
}
@keyframes flashOnce {
	0% { background: #161616; }
	50% { background: #333; }
	100% { background: #161616; }
}

.entry-emoji-picker {
  display: none;
  position: absolute;
  z-index: 20;
}
.entry-emoji-picker.active {
  display: block;
}
.main-container.density-sm .entry-command-options {
	padding-top: 4.5rem;
}
.todo-list {
  overflow-y: auto;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
	flex: 1;
  /* margin-top: 1rem; */
  /* border-top: 1px solid rgba(255,255,255,0.05); */
  /* background: #222; */
  /* margin-bottom: 1rem; */
}
.todo-list.blur {
  filter: blur(3px);
}
.todo-list-inner {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  flex-grow: 1;
  min-height: 0;
}
.todo-list .divider-archived {
  /* font-weight: bold; */
  /* font-style: italic; */
  text-transform: uppercase;
  /* font-size: 0.87rem; */
  padding: 0.6rem 0.7rem;
  /* background: rgb(53 54 70); */
  /* background: rgb(255, 255, 255, 0.06); */
  border-bottom: 2px solid rgb(255, 255, 255, 0.06);
  color: rgba(255,255,255,0.6);
  letter-spacing: 2px;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  /* transform: translateY(-2px); */
  margin: 2rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.todo-list .divider-archived .icon {
  color: rgb(255 255 255 / 38%);
  color: #63c06d;
}
.todo {
  position: relative;
  padding-top: 0.8rem;
  padding-bottom: calc(0.8rem + 5px);
  padding-right: 0.2rem;
  padding-left: 0.2rem;
  margin: 0 0.5rem;
  background: transparent;
  text-align: left;
  outline: none;
  border: 2px solid transparent;
  border-bottom: 2px solid rgb(255, 255, 255, 0.06);
  /* border-bottom: 2px solid transparent; */
  display: flex;
  /* flex: 1; */
  align-content: center;
  /*align-self: flex-start;*/
  transition: 0.1s opacity;
  /* color: #d4d4d4; */
  border-radius: 0;
  color: rgba(255,255,255,0.82);
  cursor: pointer;
  font-family: inherit;
  animation: todoCreate 0.3s 1 forwards;
  font-size: inherit;
  flex-wrap: wrap;
}
.todo:last-of-type {
  border-bottom-color: transparent;
}
.main-container.density-sm .todo {
	padding-top: 0.3rem;
  padding-bottom: calc(0.3rem + 5px);
}
.main-container.density-lg .todo {
	padding-top: 1.2rem;
  padding-bottom: calc(1.2rem + 5px);
}
@keyframes todoCreate {
	from { opacity: 0.5; }
	to { opacity: 1; }
}
/* .todo.active, .todo:focus:not(:active) { */
.todo.active, .todo:focus, .todo:focus-within {
  border-bottom: 2px solid transparent;
  margin: 0;
  padding-right: 0.7rem;
  padding-left: 0.7rem;
  /* box-shadow: 0 0 1px var(--main-color-accent-1); */
}
.todo.active,
.todo:focus,
.todo:focus-within,
.todo-input {
  border-radius: 9px;
}
.todo.active:not(:first-child),
.todo:focus:not(:first-child),
.todo-edit-active:not(:first-child) {
  transform: translateY(-2px);
}
.todo.active:not(:first-child),
.todo:focus:not(:first-child) {
  padding-top: calc(0.8rem + 2px);
  padding-bottom: calc(0.8rem + 3px);
}
.main-container.density-sm .todo.active:not(:first-child),
.main-container.density-sm .todo:focus:not(:first-child) {
  padding-top: calc(0.3rem + 2px);
  padding-bottom: calc(0.3rem + 3px);
}
.main-container.density-lg .todo.active:not(:first-child),
.main-container.density-lg .todo:focus:not(:first-child) {
  padding-top: calc(1.2rem + 2px);
  padding-bottom: calc(1.2rem + 3px);
}
.main-container.density-sm .todo:first-child {
	padding-top: calc(0.3rem + 2px);
	padding-bottom: calc(0.3rem + 3px);
  /* transform: none; */
}
.main-container.density-md .todo:first-child {
	padding-top: calc(0.8rem + 2px);
	padding-bottom: calc(0.8rem + 3px);
  /* transform: none; */
}
.main-container.density-lg .todo:first-child {
	padding-top: calc(1.2rem + 2px);
	padding-bottom: calc(1.2rem + 3px);
  /* transform: none; */
}
/* .todo:focus:not(:active), .todo.active, .todo-input { */
.todo:focus, .todo.active, .todo-input {
  /* background: #131313; */
  background: var(--todo-active-background);
  z-index: 10;
}
/* .todo:focus:not(:active) .todo-text, */
.todo:focus .todo-text,
.todo.active .todo-text {
  /* color: #dfdfdf; */
  color: rgba(255,255,255,0.85);
}
/* Archived */
.todo.archive .todo-text,
.todo.archive .todo-text strong,
.todo.archive .todo-text a {
  /* text-decoration: line-through; */
  color: rgba(255,255,255,0.45);
}
.todo.archive code {
  opacity: 0.45;
}
.todo.archive .tag {
  opacity: 0.4;
}
.todo.archive .todo-index {
  color: #44804a;
}
.todo-index {
  font-family: "DM Mono";
  align-self: flex-start;
  color: rgba(255,255,255,0.21);
  text-transform: uppercase;
  font-size: 0.9em;
  flex: 0;
  margin-right: 1rem;
  line-height: 1.9;
  font-weight: bold;
}
.todo-content {
  flex: 1;
}
.todo.active .todo-index,
.todo:focus .todo-index {
  color: #65beb1;
  color: var(--main-color-accent-1);
  /*font-weight: 600;*/
}
.todo.animOut {
	animation: todoAnimOut 0.4s 1 forwards;
  /*flex-shrink: 0;*/
}
.todo.animOut .todo-content {
  /*overflow: hidden;*/
}
.todo.animOut .todo-text,
.todo.animOut .todo-text strong,
.todo.animOut .todo-text a {
	/*white-space: nowrap;*/
	color: #777;
}
.todo.animOut .todo-text code,
.todo.animOut .tag {
	opacity: 0.5;
}
@keyframes animOut {
	from { width: 100%; }
	to {
		/*width: 0;*/
		color: rgba(255,255,255,0);
    background: transparent;
    opacity: 0.2;
	}
}
.todo-text {
  display: flex;
  flex-direction: column;
  margin: 0;
  /*margin-bottom: 0.69rem;*/
  white-space: pre-wrap;
  user-select: text;
  flex: 1;
}

/* Markdown */
.todo-text a, .todo-text a code {
  color: #7476ff;
}
.todo-text p {
  margin: 0;
}
.todo-text strong {
  color: rgba(255,255,255,0.89);
}
.todo-text ul, .todo-text ol {
  padding-left: 1.2rem;
  /* display: flex; */
  white-space: initial;
  flex-direction: column;
  margin: 0;
  flex-basis: 100%;
}
.todo-text ul {
  list-style: none;
}
.todo-text ul li, .todo-text ol li {
  word-break: break-word;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
}
.todo-text ul li:before {
  content: "\2022";
  color: rgba(255,255,255,0.3);
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  position: absolute;
}
.todo-text p {
  margin: 0;
}
.todo-text strong {
  font-weight: 700;
  margin-left: 0.2rem;
}
.todo-text code {
  background: rgba(0,0,0,0.5);
  border: 1px solid transparent;
  /* color: #eee; */
  padding: 0.04rem 0.2rem;
  border-radius: 4px;
  font-size: 0.9rem;
  /* margin: 0 0.1rem; */
  /* transition: all 0.15s; */
  color: var(--main-color-accent-2);
  /* transform: translateY(-1px); */
  line-height: 1.1;
  margin: 0 0.15rem;
}
.todo-text a {
	margin: 0 0.25rem;
}
.todo-text ul li code {
  align-self: center;
  /* margin-right: 0.4rem; */
}
.todo.active .todo-text code,
.todo:focus .todo-text code {
  /* background: transparent; */
  background: rgba(255,255,255,0.1);
  /* border: 1px solid rgba(255,255,255,0.2); */
}
.todo-text h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}
.todo-text table,
.todo-text blockquote,
.todo-text ul,
.todo-text ol,
.todo-text p,
.todo-text summary {
  /* margin-top: 0.2rem; */
  margin-bottom: 0.4rem;
}
.todo-text ol {
  list-style-type: decimal;
}
.todo-text > *:last-child {
  margin-bottom: 0;
}
.todo-text ul li ul {
  margin-top: 0;
}
.todo-text ul li ul:last-of-type {
  margin-bottom: 0;
}
.todo-text blockquote {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  display: flex;
  padding: 0.4rem 0.6rem;
  border-left: 3px solid rgba(255,255,255,0.14);
  border-left: 3px solid var(--main-color-accent-3);
  background: rgba(255,255,255,0.06);
}
.todo-text hr {
  width: 100%;
  color: rgba(255,255,255,0.15);
  margin-top: 0.75rem;
}
.todo-text table {
  display: block;
  border-collapse: collapse;
}
.todo-text table th {
  background: rgba(255,255,255,0.1);
}
.todo-text pre {
  margin: 0.5rem 0;
  display: flex;
}
.todo-text table th, .todo-text table td {
  border: 1px solid #444;
  padding: 0.1rem 0.4rem;
}
.todo-text details {
  display: contents;
  box-sizing: border-box;
  position: relative;
  color: rgba(255,255,255,0);
  transition: 0.2s all;
  font-size: 0.6rem;
}
.todo-text details[open] {
  color: rgba(255,255,255,0.9);
  font-size: 1rem;
}
.todo-text summary {
  background: rgba(255,255,255,0.08);
  color: rgba(255,255,255,0.9);
  border: 1px solid transparent;
  padding: 0.1rem 0.9rem;
  font-size: 0.95rem;
  padding-left: 2rem;
  border-radius: 4px;
  min-width: 0;
  width: auto;
  align-self: flex-start;
  position: relative;
}
.todo-text details[open] summary {
  margin-bottom: 0.5rem;
  background: rgba(255,255,255,0.15);
  /* background: transparent; */
  /* border: 1px solid rgba(255,255,255,0.25); */
}
details summary::-webkit-details-marker {
  display:none;
}
details > summary:first-of-type {
  list-style-type: none;
}
details[open] > summary:before {
  transform: rotate(90deg);
}
summary:before {
  content: '';
  border-width: .4rem;
  border-style: solid;
  border-color: transparent transparent transparent rgba(255,255,255,0.6);
  position: absolute;
  top: 0.6rem;
  left: 0.9rem;
  transform: rotate(0);
  transform-origin: .2rem 50%;
  transition: .25s transform ease;
}
.todo-edit-active {
  display: flex;
  position: relative;
	z-index: 30;
}
.todo-input {
  flex: 1;
  /*margin-left: 1.62rem;*/
  margin-left: 0;
  /*margin-right: 1rem;*/
  /* border-radius: 5px; */
  padding-top: calc(0.8rem + 2px);
  padding-bottom: calc(0.8rem + 5px);
  padding-right: 0.7rem;
  padding-left: 2.2rem;
  /*min-height: 2.56rem;*/
  border: none;
  outline: none;
  resize: none;
  border: 2px solid #383838;
  border: 2px solid transparent;
  /* box-shadow: inset 0 1px 10px rgba(0,0,0,0.8); */
  box-shadow: 0 0 1px var(--main-color-accent-1);
}
.todo:not(:first-child) .todo-edit-active {
  transform: translateY(-2px);
  /* padding-top: calc(0.8rem + 2px); */
  /* padding-bottom: calc(0.8rem + 3px); */
}
.todo-input, .todo-text {
  line-height: 1.8;
  letter-spacing: 0.5px;
  font-family: inherit;
}
.todo.edit {
  border: 2px solid #383838;
  box-shadow: inset 0 1px 10px rgba(0,0,0,0.8);
}
.todo.edit .todo-text {
  display: none;
}

.todo-tag-edit {
  position: absolute;
  /* bottom: 0; */
  /* transform: translateY(100%); */
  padding: 0.8rem 0.7rem 0.8rem 1.2rem;
  background: rgba(0,0,0,0.9);
  background: linear-gradient(to right, rgba(0,0,0,0.9), rgba(0,0,0,0));
  /* width: 100%; */
  right: calc(-0.5rem + -2px);
	left: calc(-0.5rem + -2px);
	left: -2px;
  top: -2px; bottom: -2px;
  border-radius: 9px;
  text-align: center;
  display: flex;
  /* justify-content: center; */
  /* right: -2px; left: -2px; */
}
.todo.active .todo-tag-edit {
  right: -2px; left: -2px;
  top: 0;
  z-index: 20;
}
.todo:not(:first-child) .todo-tag-edit {
  /* bottom: -3px; */
  transform: translateY(-2px);
}
.todo-tag-edit .heading {
  margin-right: 0.7rem;
  font-size: 1.2rem;
  align-self: center;
  display: none;
}
.todo-tag-edit form {
  /* align-self: center; */
}
.todo-tag-edit input {
  background: #222;
  padding: 0.4rem 0.5rem;
  border-radius: 3px;
	border: none;
	outline: none;
}
.todo-tag-edit .icon {
  margin-right: 0.7rem;
  /* align-self: center; */
  color: rgba(255,255,255,0.7);
  font-size: 1.1rem;
  display: none;
}
.todo-tag-list {
  /* flex: 1; */
  /* flex-basis: 100%; */
  display: flex;
  flex-direction: row;
  flex-direction: column;
  align-items: flex-end;
  /* margin-top: 0.35rem; */
  /* justify-content: flex-end; */
  /**** Styling for horizontal row list ****/
  /* flex-basis: 100%;
  flex: 1 100%;
  margin-top: 0.6rem;
  align-items: flex-start;
  padding-left: 1.8rem; */
}
.tag {
  padding: 0.23rem 0.4rem;
  background: rgba(255,255,255,0.12);
  color: #222;
  color: rgba(0,0,0,0.56);
  line-height: 1;
  border-radius: 4px;
  /* margin-right: 0.3rem; */
  font-size: 0.88rem;
	font-size: 0.77rem;
  font-weight: bold;
  font-family: "DM Mono";
	opacity: 0.85;
}
.main-container.density-sm .todo-tag-list {
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.main-container.density-sm .todo-tag-list .tag {
	overflow: hidden;
	white-space: nowrap;
	color: transparent;
	width: 15px; height: 15px;
	border-radius: 10px;
	margin-bottom: 0;
	margin-right: 0.2rem;
}
.main-container.density-sm .todo-tag-list .tag:last-child {
	margin: 0;
}
.main-container.density-lg .todo-tag-list {
	flex-direction: row;
	flex-basis: 100%;
	margin-top: 0.3rem;
	/* align-items: flex-end; */
	justify-content: flex-end;
}
.main-container.density-lg .todo-tag-list .tag {
	margin-bottom: 0;
	margin-right: 0.4rem;
}
.todo .tag {
  margin-bottom: 0.3rem;
}
.todo .tag:last-child {
  margin-bottom: 0;
}

.dialog {
	display: none;
	background: rgba(0,0,0,0.6);
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
}
.dialog.active {
	display: block;
}
.dialog .inner {
	display: table;
	background: #444;
	position: absolute;
	padding: 1rem;
	border-radius: 0.6rem;
	top: 0;
	right: 0; left: 0;
	margin: 2rem auto;
	box-shadow: 0 4px 20px rgba(0,0,0,0.5);
}
.dialog h4 {
	margin-top: 0rem;
	margin-bottom: 0.7rem;
}
.import-input {
	background: #222;
	border: none;
	outline: none;
}
.text-center {
  text-align: center;
}

.status-bar {
  background: var(---main-bar-bg-color);
  padding: 0.8em 2rem;
  background: rgba(255,255,255,0.06);
  font-family: "DM Mono", monospace;
  font-size: 0.8rem;
  color: #aaa;
  transition: all 0.05s;
  min-height: 2.3rem;
  position: relative;
  z-index: 15;
}
.status-bar.update {
  animation: flash 1 850ms;
}
@keyframes flash {
  0% { color: #aaa; background: var(--main-bar-bg-color); }
  25% { color: #fff; background: rgba(255,255,255,0.16); }
  50% { color: #aaa; background: var(--main-bar-bg-color); }
  75% { color: #fff; background: rgba(255,255,255,0.16); }
  100% { color: #aaa; background: var(--main-bar-bg-color); }
}
.status-bar-inner {
  padding-left: 0.6rem;
}
.status-bar-inner:before {
  content: ">";
  transform: translateX(-200%);
  position: absolute;
  color: #777;
}

.scroll-shadows {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  background:
    /* Shadow Cover TOP */
    linear-gradient(
      var(--main-bg-color) 30%,
      var(--main-bg-color-transparent)
    ) center top,
    /* Shadow Cover BOTTOM */
    linear-gradient(
      var(--main-bg-color-transparent),
      var(--main-bg-color) 70%
    ) center bottom,
    /* Shadow TOP */
    radial-gradient(
      farthest-side at 50% 0,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0)
    ) center top,
    /* Shadow BOTTOM */
    radial-gradient(
      farthest-side at 50% 100%,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0)
    ) center bottom;
  background-repeat: no-repeat;
  background-size: 100% 45px, 100% 45px, 100% 25px, 100% 25px;
  background-attachment: local, local, scroll, scroll;
}

.entry-container-inner,
.todo-list,
.status-bar-inner,
.entry-command-options-inner {
  max-width: 100%;
  width: auto;
  margin-right: 0;
  margin-left: 0;
  transition: none;
}
.entry-command-tags-container {
  display: flex;
  /* margin-bottom: 1.5rem; */
  padding-bottom: 1rem;
}
.entry-command-tags-container .tags-row {
  display: flex;
  flex-wrap: wrap;
}
.entry-command-tags-container .tag {
  align-self: center;
  margin-bottom: 0.5rem;
}

.emoji-list-container {
  position: absolute;
  z-index: 20;
  bottom: -7px;
  transform: translateY(100%);
  background: rgba(0,0,0,0.9);
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid rgba(255,255,255,0.2);
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}
.emoji-list {
  display: flex;
  flex-direction: column;
}
.emoji-list-item,
.emoji-list-item-null {
  padding: 0.35rem 0.5rem;
  display: flex;
  font-size: 0.9rem;
  border-bottom: 1px solid rgba(255,255,255,0.16);
}
.emoji-list-item.active {
  background: rgba(255,255,255,0.25);
  border-bottom: 1px solid transparent;
}
.emoji-list-item:last-child {
  /* border-bottom: none; */
}
.emoji-list-item .emoji {
  margin-right: 0.3rem;
  width: 1.5rem;
}
.emoji-list-item .code,
.emoji-list-item .emoji {
  align-self: center;
}
.emoji-list-item .code {
  font-size: 0.86rem;
}
.emoji-list-how-to {
  padding: 0.6rem 0.5rem;
  font-size: 0.75rem;
  color: rgba(255,255,255,0.7);
  font-style: italic;
  /* background: rgba(255,255,255,0.18); */
}
.emoji-list-how-to code {
  padding: 0.1rem 0.3rem;
  border-radius: 4px;
  line-height: 1.2;
  background: rgba(255, 255, 255, 0.2);
  color: rgba(255,255,255,0.9);
}

/* Clock */
.clock-outer {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  background: #111;
  z-index: 25;
  display: flex;
  justify-content: center;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.75s;
	/* transition: all 0.25s; */
}
.clock-outer.active {
  opacity: 1;
  pointer-events: auto;
}
.clock-inner {
  align-self: center;
  margin-bottom: 2rem;
}
.clock-time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  font-family: "DM Mono", monospace;
  font-weight: 500;
  /* font-size: 12rem; */
  font-size: 27vh;
  line-height: 1;
  margin-bottom: 1rem;
}
.clock-h, .clock-m {
  /* margin-right: 2rem; */
}
.clock-h {
  color: rgba(255,255,255,0.7);
}
.clock-m {
  color: rgba(255,255,255,0.4);
}
.clock-s {
  color: rgba(255,255,255,0.05);
  /* display: none; */
}
.clock-msg {
  color: rgba(255,255,255,0.3);
}

.main-container.center .entry-container-inner,
.main-container.center .todo-list,
.main-container.center .status-bar-inner,
.main-container.center .entry-command-options-inner {
  width: 100%;
  max-width: var(--main-center-width);
  margin-right: auto;
  margin-left: auto;
  transition: 0.2s width ease-in, 0.2s max-width ease-in, 0.2s margin ease-in;
}
.main-container.center .entry-container-inner {
  /* width: calc(100% - 2rem); */
  max-width: calc(var(--main-center-width) - 2rem);
}
.main-container.center .status-bar-inner {
  padding-left: 2.2rem;
}