@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

/*@font-face {
  font-family: "Bitter";
  src: local("Bitter"),
    url(../fonts/Bitter-VariableFont_wght.ttf),
    url(../fonts/Bitter-Italic-VariableFont_wght.ttf);
}

@font-face {
  font-family: "PT Mono";
  src: local("PT Mono"),
    url(../fonts/PTMono-Regular.ttf);
}*/
html {
  font-size: 17px;
}
body {
	/*pointer-events: none;*/
	/*cursor: none;*/
  color: #ddd;
	background: #1b1b1b;
	margin: 0;
  font-family: "Bitter";
}

* {
  box-sizing: border-box;
}

.main-container {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	height: 100%;
}
.main {
  padding: 1.5rem 0 0 1.5rem;
  padding: 1.5rem 0 0 0;
  padding: 0;
  flex: 1;
  flex-shrink: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  /* background: rgba(255,255,255,0.13); */
  /*overflow-y: auto;*/
}
input, textarea {
  color: #ddd;
  font-size: inherit;
}
.entry-container {
  padding: 1.5rem;
  padding-bottom: 1rem;
  display: flex;
  /* background: #2b2b2b; */
  background: rgba(255,255,255,0.07);
}
.entry-form {
  position: relative;
  /*margin-bottom: 0.8rem;*/
  z-index: 15;
  align-self: baseline;
  /* left: 1.5rem; */
  /* display: flex; */
}
.entry-form.active {
  /* width: calc(100% - 1.5rem); */
  /* width: calc(100% - 3rem); */
  width: 100%;
}
.entry-form:before {
  content: "$";
  font-family: "PT Mono";
  font-weight: bold;
  color: #888;
  top: 0.75em;
  /*transform: translateY(-50%);*/
  left: 0.9rem;
  display: none;
  position: absolute;
  z-index: 0;
}
.entry-form.active:before {
  display: block;
}
.entry-form:after {
  content: "/";
  /*font-family: "PT Mono";*/
  font-weight: 700;
  font-size: 0.85rem;
  color: #999;
  right: 1.1rem;
  position: absolute;
  top: 0.85em;
  padding: 0.07rem 0.45rem;
  background: rgba(255,255,255,0.15);
  border-radius: 5px;
  border: 1px solid #888;
  transition: opacity 0.9s;
  opacity: 1;
  user-select: none;
  pointer-events: none;
}
.entry-form.active:after {
  transition: none;
  /*display: none;*/
  opacity: 0;
}
.entry-input {
  width: 180px;
  padding: 0.6rem 1rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  outline: none;
  caret-color: transparent;
  background: #505050;
  z-index: 5;
  transition: 0.12s width ease-in, 0.12s padding ease-in, 0.12s border-radius ease-in;
  resize: none;
  height: 2.4em;
  font-family: inherit;
  line-height: 1.5;
  resize: none;
}
.entry-input.active {
	border-radius: 5px;
  width: 100%;
  padding-left: 2rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  z-index: 10;
  /*background: #161616;*/
  caret-color: initial;
}
.entry-input.flash-once {
	animation: flashTwice 0.2s 1;
}
@keyframes flashOnce {
	0% { background: #161616; }
	50% { background: #333; }
	100% { background: #161616; }
}

.entry-emoji-picker {
  display: none;
  position: absolute;
  z-index: 20;
}
.entry-emoji-picker.active {
  display: block;
}

.todo-list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex-shrink: 1;
  flex-grow: 1;
  min-height: 0;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  padding-top: 1.5rem;
  /* margin-top: 1rem; */
  /* border-top: 1px solid rgba(255,255,255,0.08); */
  /* background: #222; */
  /* margin-bottom: 1rem; */
}
.todo-list.blur {
  filter: blur(3px);
}
.todo {
  position: relative;
  padding: 0.5rem 0.7rem;
  /*padding-left: 2.2rem;*/
  background: transparent;
  text-align: left;
  outline: none;
  border: 2px solid transparent;
  border-bottom: 2px solid rgb(255, 255, 255, 0.05);
  /* border-bottom: 2px solid transparent; */
  display: flex;
  align-content: center;
  /*align-self: flex-start;*/
  transition: 0.1s opacity;
  color: #d8d8d8;
  cursor: pointer;
  font-family: inherit;
  animation: todoCreate 0.3s 1 forwards;
  font-size: inherit;
  flex-wrap: wrap;
}
.todo:last-child {
  border-bottom-color: transparent;
}
@keyframes todoCreate {
	from { opacity: 0.5; }
	to { opacity: 1; }
}
.todo:focus:not(:active), .todo.active {
  border-bottom: 2px solid transparent;
  border-radius: 5px;
}
.todo.active:not(:first-child) {
  transform: translateY(-2px);
  /* transform: translate3d(0, -2px, 0); */
  /* border-top-width: 4px; */
  padding-top: calc(0.5rem + 2px);
  padding-bottom: calc(0.5rem - 2px);
}
.todo.active:first-child {
  /* transform: none; */
}
.todo:focus:not(:active), .todo.active, .todo-input {
  /* background: #131313; */
  background: rgba(0,0,0,0.5);
  z-index: 10;
}
.todo:focus:not(:active) .todo-text,
.todo.active .todo-text {
  color: #eee;
}
.todo-index {
  font-family: "PT Mono";
  align-self: flex-start;
  color: rgba(255,255,255,0.3);
  text-transform: uppercase;
  font-size: 0.9em;
  flex: 0;
  margin-right: 1rem;
  line-height: 1.9;
}
.todo-content {
  flex: 1;
}
.todo.active .todo-index {
  color: #65beb1;
  color: #7476ff;
  /*font-weight: 600;*/
}
.todo.delete {
	animation: todoDelete 0.4s 1 forwards;
  /*flex-shrink: 0;*/
}
.todo.delete .todo-content {
  /*overflow: hidden;*/
}
.todo.delete .todo-text {
	/*white-space: nowrap;*/
	color: #777;
}
@keyframes todoDelete {
	from { width: 100%; }
	to {
		/*width: 0;*/
		color: rgba(255,255,255,0);
    background: transparent;
    opacity: 0.2;
	}
}
.todo-text {
  display: flex;
  flex-direction: column;
  margin: 0;
  /*margin-bottom: 0.69rem;*/
  white-space: pre-wrap;
  user-select: text;
  flex: 1;
}

/* Markdown */
.todo-text a, .todo-text a code {
  color: #7476ff;
}
.todo-text p {
  margin: 0;
}
.todo-text strong {
  color: #e8e8e8;
}
.todo-text ul, .todo-text ol {
  padding-left: 1.2rem;
  display: flex;
  flex-direction: column;
  margin: 0;
  flex-basis: 100%;
}
.todo-text ul {
  list-style: none;
}
.todo-text ul li, .todo-text ol li {
  word-break: break-all;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
}
.todo-text ul li:before {
  content: "\2022";
  color: rgba(255,255,255,0.3);
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  position: absolute;
}
.todo-text p {
  margin: 0;
}
.todo-text strong {
  font-weight: 700;
  margin-left: 0.2rem;
}
.todo-text code {
  background: rgba(0,0,0,0.5);
  border: 1px solid transparent;
  color: #eee;
  padding: 0.1rem 0.3rem;
  border-radius: 4px;
  font-size: 0.9rem;
  margin: 0 0.1rem;
  transition: all 0.15s;
  color: #5ab389;
  line-height: 1.2;
}
.todo-text ul li code {
  align-self: center;
  margin-right: 0.4rem;
}
.todo.active .todo-text code {
  border: 1px solid rgba(255,255,255,0.2);
  background: transparent;
}
.todo-text h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}
.todo-text blockquote {
  margin: 0;
  display: flex;
  padding: 0.6rem;
  border-left: 3px solid rgba(255,255,255,0.14);
  background: rgba(255,255,255,0.06);
}
.todo-text hr {
  width: 100%;
  color: rgba(255,255,255,0.15);
  margin-top: 0.75rem;
}
.todo-text table {
  display: block;
  border-collapse: collapse;
}
.todo-text table th {
  background: rgba(255,255,255,0.1);
}
.todo-text pre {
  margin: 0.5rem 0;
  display: flex;
}
.todo-text table th, .todo-text table td {
  border: 1px solid #444;
  padding: 0.1rem 0.4rem;
}

.todo-input {
  /*margin-left: 1.62rem;*/
  margin-left: 0;
  /*margin-right: 1rem;*/
  border-radius: 5px;
  padding: calc(0.5rem + 2px) 0.7rem calc(0.5rem + 2px) 2.2rem;
  /*min-height: 2.56rem;*/
  border: none;
  outline: none;
  resize: none;
  border: 2px solid #383838;
  box-shadow: inset 0 1px 10px rgba(0,0,0,0.8);
}
.todo-input, .todo-text {
  line-height: 1.8;
  letter-spacing: 0.5px;
  font-family: inherit;
}
.todo.edit {
  border: 2px solid #383838;
  box-shadow: inset 0 1px 10px rgba(0,0,0,0.8);
}
.todo.edit .todo-text {
  display: none;
}

.todo-tag-edit {
  position: absolute;
  /* bottom: 0; */
  /* transform: translateY(100%); */
  padding: 0.5rem 0.7rem;
  background: rgba(0,0,0,0.9);
  /* width: 100%; */
  right: -2px; left: -2px;
  top: -2px; bottom: -2px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  /* justify-content: center; */
  /* right: -2px; left: -2px; */
}
.todo-tag-edit .heading {
  margin-right: 0.7rem;
  font-size: 1.2rem;
  align-self: center;
  display: none;
}
.todo-tag-edit form {
  align-self: center;
}
.todo-tag-edit input {
  background: #222;
  padding: 0.4rem 0.5rem;
  border-radius: 3px;
	border: none;
	outline: none;
}
.todo-tag-edit .icon {
  margin-right: 0.7rem;
  align-self: center;
  color: rgba(255,255,255,0.7);
  font-size: 1.1rem;
}
.todo-tag-list {
  /* flex: 1; */
  /* flex-basis: 100%; */
  display: flex;
  flex-direction: row;
  flex-direction: column;
  align-items: flex-end;
  /* margin-top: 0.35rem; */
  /* justify-content: flex-end; */
  /**** Styling for horizontal row list ****/
  /* flex-basis: 100%;
  flex: 1 100%;
  margin-top: 0.6rem;
  align-items: flex-start;
  padding-left: 1.8rem; */
}
.tag {
  padding: 0.23rem 0.4rem;
  background: rgba(255,255,255,0.12);
  color: #222;
  line-height: 1;
  border-radius: 4px;
  /* margin-right: 0.3rem; */
  margin-bottom: 0.3rem;
  font-size: 0.92rem;
  font-weight: bold;
  font-family: "PT Mono"
}
.tag:last-child {
  margin-bottom: 0;
}

.dialog {
	display: none;
	background: rgba(0,0,0,0.6);
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
}
.dialog.active {
	display: block;
}
.dialog .inner {
	display: table;
	background: #444;
	position: absolute;
	padding: 1rem;
	border-radius: 0.6rem;
	top: 0;
	right: 0; left: 0;
	margin: 2rem auto;
	box-shadow: 0 4px 20px rgba(0,0,0,0.5);
}
.dialog h4 {
	margin-top: 0rem;
	margin-bottom: 0.7rem;
}
.import-input {
	background: #222;
	border: none;
	outline: none;
}
.text-center {
  text-align: center;
}

.scroll-shadows {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  background:
    /* Shadow Cover TOP */
    linear-gradient(
      #222 30%,
      rgba(255, 255, 255, 0)
    ) center top,
    /* Shadow Cover BOTTOM */
    linear-gradient(
      rgba(255, 255, 255, 0), 
      #222 70%
    ) center bottom,
    /* Shadow TOP */
    radial-gradient(
      farthest-side at 50% 0,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0)
    ) center top,
    /* Shadow BOTTOM */
    radial-gradient(
      farthest-side at 50% 100%,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0)
    ) center bottom;
  background-repeat: no-repeat;
  background-size: 100% 35px, 100% 35px, 100% 25px, 100% 25px;
  background-attachment: local, local, scroll, scroll;
}